{
  "presets": ["env", "flow"],
  "plugins": [
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
