{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "parser": "typescript",
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}
